/*REGISTER*/
.register-container{
    background-color: rgba(95, 168, 255, 1);
    border-radius: 10px;
    height: 93vh;
    width: 22%;
    z-index: 11;
    padding: 10px;
    font-family: 'Poppins', sans-serif;
}
.register-container > h4 {
    color: white;
    font-weight: 600;
    font-size: 24px;
    text-align: center;
    margin: 10px 0;
}
.form-container{
    width: 90%;
    margin: 0 auto;
}
.form-group{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 5px;
    margin: 10px 0;
}
.form-group > label{
    font-size: 12px;
    color: white;
}
.form-group > input{
    width: 90%;
    border-radius: 5px;
    background-color: white;
    color: rgba(13, 34, 45, 0.882);
    padding: 10px 14px;
    font-size: 14px;
    border: none;
    font-family: 'poppins', sans-serif;
}
.checkbox{
    border-radius: 5px;
    padding: 6px;
}
.label-check{
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgba(255, 255, 255, 0.5) !important;
    font-size: 12px !important;
}
.custom-google-button {
    background-color: white;
    border: none;
    padding: 10px 20px; 
    font-size: 12px; 
    border-radius: 20px; 
    font-weight: 500;
    cursor: pointer; 
    font-family: 'Poppins', sans-serif;
    display: flex;
    align-items: center;
    width: 90%;
    justify-content: center;
    text-align: center;
    gap: 10px;
  }
.button-reg{
    background-color: rgba(16, 42, 78, 1);
    color: white;
    border: none;
    cursor: pointer;
    font-weight: 600;
    font-size: 16px;
    width: 70%;
    padding: 10px 5px;
    text-align: center;
    border-radius: 5px;
    margin: 0 auto;
    font-family: 'Poppins', sans-serif;
}
.btn-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2px;
}  
.btn-container > p {
    color: rgba(255, 255, 255, 0.5);
    font-size: 12px;
}
.btn-container > p > span {
    cursor: pointer;
    text-decoration: underline;
}

@media screen and (width <= 1400){
    .form-container{
        width: 90%;
        margin: 0 auto;
        overflow-y: scroll;
        max-height: 80%;
        height: 80%;
    }
}


/*LOGIN*/
.login-container{
    background-color: rgba(95, 168, 255, 1);
    border-radius: 10px;
    height: 53vh;
    width: 22%;
    z-index: 11;
    padding: 10px;
    font-family: 'Poppins', sans-serif;
}
.login-container > h4 {
    color: white;
    font-weight: 600;
    font-size: 24px;
    text-align: center;
    margin: 10px 0;
}
.btn-log-container{
    margin-top: 20px;
}