.navbar{
    width: 100%;
    height: auto;
    padding: 10px 20px;
    background-color: white;
    box-shadow: 3px 0 10px 2px rgba(0, 0, 0, 0.192);
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: 'Poppins', sans-serif;
}
.navbar > .navbar-left > img:first-of-type{
    width: 160px;
}
  
  .navbar-center ul {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
  }
  
  .navbar-center ul li {
    margin: 0 10px;
  }
  .navbar-center a {
    text-decoration: none;
    font-size: 14px;
    color: black;
  }
  
  .navbar-center .dropdown {
    position: relative;
  }
  
  .navbar-center .dropdown-content {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: rgba(95, 168, 255, 1);
    padding: 10px;
    width: 150px;
    color: white;
  }
  .dropdown-content a {
    color: white;
  }
  .navbar-center .dropdown:hover .dropdown-content {
    display: block;
  }
  .navbar-right{
    margin-right: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
  }
  .navbar-right button:first-of-type {
    margin-left: 10px;
    color: rgb(21, 21, 21);
    background-color: transparent;
    font-weight: 500;
    font-size: 16px;
    border: none;
    padding: 4px 16px;
    cursor: pointer;
  }
  .navbar-right button:last-of-type{
    background-color: rgba(95, 168, 255, 1);
    color: white;
    border-radius: 30px;
    padding: 4px 22px;
    cursor: pointer;
    border: none;
    font-size: 16px;
  }